[Unit]
Description=Run the NoviIs Prometheus watchdog every minute

[Timer]
OnBootSec=2min
OnUnitActiveSec=1min
AccuracySec=10s
Persistent=true
Unit=noviis-prometheus-watchdog.service

[Install]
WantedBy=timers.target
