spring:
  application:
    name: noviis

  messages:
    basename: messages
    encoding: UTF-8

  lifecycle:
    timeout-per-shutdown-phase: 30s

server:
  shutdown: graceful

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: always